In [ ]:
important_countries = [
    # Maiores economias / benchmarks
    ["USA","CHN","DEU","JPN","GBR","FRA","ITA","IND","CAN","AUS","KOR","ESP","NLD"],
    # Europa ampliada
    ["IRL","CHE","LUX","SWE","DNK","FIN","POL","AUT","BEL","CZE","HUN","ROU","PRT","GRC"],
    # Américas (desenvolvidos + EM)
    ["BRA","MEX","ARG","COL","CHL","PER","URY"],
    # Ásia emergente e manufatura
    ["TWN","SGP","HKG","THA","MYS","VNM","IDN","PHL"],
    # Oriente Médio / petróleo
    ["SAU","ARE","QAT","KWT","IRN","ISR"],
    # Commodities avançados / energia
    ["NOR","RUS"],
    # África (representativos)
    ["ZAF","EGY","NGA","GHA","KEN"],
]

In [38]:
import sdmx
import pandas as pd
import time

nome_base = 'DSD_REG_DEMO@DF_DEMO'


# Cliente IMF
client = sdmx.Client("OECD")
base = client.dataflow(nome_base)
nome_estrutura = list(base.structure.keys())[0]
estrutura = base.structure[nome_estrutura]

params = dict(
    startPeriod="2000",
)

df_final = pd.DataFrame() 


# Abrir o arquivo para adicionar conteúdo (append)

for i,lista_paises in enumerate(important_countries):
# key = f'BRA+USA+CHN+IND.{indicador}.USD.A'
    key = dict(
        AGE = ["Y0", "_T","_Z"],
        TERRITORIAL_TYPE = ["TYPO_METRO", "_Z"],
        UNIT_MEASURE = ['10P5HB', 'BR_L_W', 'PS', 'DT', 'BR', 'Y', 'KM2'],
        REF_AREA = lista_paises,
        MEASURE = [
            "POP",
            "MORT",
            "LAND_AREA",
            "CHILD_TO_W_RATIO",
            "MORT_INFANT",
            "LFEXP",
            "LIVE_BIRTHS",
            "MORT_STANDARD_RATIO",
            "DEPEND_RATIO",
            "MORT_ICDV_CRUDE_RATIO",
            "MORT_ICDI_CRUDE_RATIO",
            "MORT_ICDJ_CRUDE_RATIO",
            "FERT_RATIO",
            "NETMOB",
            "INMOB",
            "OUTMOB"
        ]
    )

    # Baixar os dados
    data_msg = client.data(nome_base, key=key, params=params, dsd=estrutura)

    # Converter para pandas DataFrame
    df = sdmx.to_pandas(
        data_msg, 
        #datetime="TIME_PERIOD"
        )

    df = df.reset_index()

    df_final = pd.concat([df_final, df], ignore_index=True)

    print(f"Finalizado lista {i+1}") 
    
    # if i % 5 == 0:
    time.sleep(5)  # espera 5 segundos antes de fazer a próxima requisição




display(df_final.head())

/tmp/ipykernel_391639/3523599831.py:10: DeprecationWarning: provider= keyword argument; use agency_id
  base = client.dataflow(nome_base)

Finalizado lista 1
Finalizado lista 2
Finalizado lista 3
Finalizado lista 4
Finalizado lista 5
Finalizado lista 6
Finalizado lista 7

,FREQ,TERRITORIAL_LEVEL,REF_AREA,TERRITORIAL_TYPE,MEASURE,AGE,SEX,UNIT_MEASURE,TIME_PERIOD,value
0,A,CTRY,JPN,_Z,POP,_T,F,PS,2010,65729000.0
1,A,CTRY,AUS,_Z,POP,_T,F,PS,2010,11063919.0
2,A,CTRY,USA,_Z,POP,_T,F,PS,2010,156969328.0
3,A,CTRY,GBR,_Z,POP,_T,F,PS,2010,31954200.0
4,A,CTRY,KOR,_Z,POP,_T,F,PS,2010,24672998.0