In [1]:
import sdmx
import pandas as pd

nome_base = 'ER'
paises = [
    'USA',
    "BRA",
    "RUS",
    "IND",
    "CHN"
]
          
for pais in paises:
    # key = 'USA+BRA.G63G_S13_POFYGDP.A'
    key = dict(
        COUNTRY = pais,
        # TYPE_OF_TRANSFORMATION = "EOP_RT","PA_RT"
        # INDICATOR = "CAB",
        # FREQUENCY = "A",
    )


    # Cliente IMF
    client = sdmx.Client("IMF_DATA")
    base = client.dataflow(nome_base)
    nome_estrutura = list(base.structure.keys())[0]
    estrutura = base.structure[nome_estrutura]

    params = dict(
        startPeriod="2000",
    )

    # Baixar os dados
    data_msg = client.data(nome_base, key=key, params=params, dsd=estrutura)

    # Converter para pandas DataFrame
    df = sdmx.to_pandas(
        data_msg, 
        #datetime="TIME_PERIOD"
        )

    df = df.reset_index()

    display(df.head())
    df.to_csv(f'../Resultados/{nome_base}_{pais}.csv', index=False)

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD     value
0     USA   EUR_XDC                 EOP_RT         A        2000  1.074691
1     USA   EUR_XDC                 EOP_RT         A        2001  1.134687
2     USA   EUR_XDC                 EOP_RT         A        2002  0.953562
3     USA   EUR_XDC                 EOP_RT         A        2003  0.791766
4     USA   EUR_XDC                 EOP_RT         A        2004  0.734160

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD     value
0     BRA   EUR_XDC                 EOP_RT         A        2000  0.549827
1     BRA   EUR_XDC                 EOP_RT         A        2001  0.489174
2     BRA   EUR_XDC                 EOP_RT         A        2002  0.269940
3     BRA   EUR_XDC                 EOP_RT         A        2003  0.274119
4     BRA   EUR_XDC                 EOP_RT         A        2004  0.276666

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD     value
0     RUS   EUR_XDC                 EOP_RT         A        2000  0.038164
1     RUS   EUR_XDC                 EOP_RT         A        2001  0.037647
2     RUS   EUR_XDC                 EOP_RT         A        2002  0.030001
3     RUS   EUR_XDC                 EOP_RT         A        2003  0.026881
4     RUS   EUR_XDC                 EOP_RT         A        2004  0.026457

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD     value
0     IND   EUR_XDC                 EOP_RT         A        2000  0.022988
1     IND   EUR_XDC                 EOP_RT         A        2001  0.023551
2     IND   EUR_XDC                 EOP_RT         A        2002  0.019853
3     IND   EUR_XDC                 EOP_RT         A        2003  0.017361
4     IND   EUR_XDC                 EOP_RT         A        2004  0.016844

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD     value
0     CHN   EUR_XDC                 EOP_RT         A        2000  0.129834
1     CHN   EUR_XDC                 EOP_RT         A        2001  0.137093
2     CHN   EUR_XDC                 EOP_RT         A        2002  0.115202
3     CHN   EUR_XDC                 EOP_RT         A        2003  0.095662
4     CHN   EUR_XDC                 EOP_RT         A        2004  0.088704

In [1]:
core_indicators = [
    "XDC_USD",  # moeda doméstica por 1 USD
    "XDC_EUR",  # moeda doméstica por 1 EUR
    "XDC_XDR",  # moeda doméstica por 1 SDR
]

In [2]:
important_countries = [
    # Maiores economias / benchmarks
    "USA","CHN","DEU","JPN","GBR","FRA","ITA","IND","CAN","AUS","KOR","ESP","NLD",
    # Europa ampliada
    "IRL","CHE","LUX","SWE","DNK","FIN","POL","AUT","BEL","CZE","HUN","ROU","PRT","GRC",
    # Américas (desenvolvidos + EM)
    "BRA","MEX","ARG","COL","CHL","PER","URY",
    # Ásia emergente e manufatura
    "TWN","SGP","HKG","THA","MYS","VNM","IDN","PHL",
    # Oriente Médio / petróleo
    "SAU","ARE","QAT","KWT","IRN","ISR",
    # Commodities avançados / energia
    "NOR","RUS",
    # África (representativos)
    "ZAF","EGY","NGA","GHA","KEN",
]

In [3]:
import sdmx
import pandas as pd

nome_base = 'ER'


# Cliente IMF
client = sdmx.Client("IMF_DATA")
base = client.dataflow(nome_base)
nome_estrutura = list(base.structure.keys())[0]
estrutura = base.structure[nome_estrutura]

params = dict(
    startPeriod="2000",
)

df_final = pd.DataFrame() 


# Abrir o arquivo para adicionar conteúdo (append)
with open("1_DICIONARIO.txt", "a", encoding="utf-8") as f:

    for country in important_countries:
        f.write("----------------------\n\n")
        for i,core_indicator in enumerate(core_indicators):
            # key = f'BRA+USA+CHN+IND.{indicador}.USD.A'
            key = dict(
                COUNTRY = country,
                # BOP_ACCOUNTING_ENTRY = ac,
                INDICATOR = core_indicator,
                FREQUENCY = "M",
                # UNIT= "USDB"
            )

            # Baixar os dados
            data_msg = client.data(nome_base, key=key, params=params, dsd=estrutura)

            # Converter para pandas DataFrame
            df = sdmx.to_pandas(
                data_msg, 
                #datetime="TIME_PERIOD"
                )

            df = df.reset_index()

            df_final = pd.concat([df_final, df], ignore_index=True)
            if not df.empty:
                print(f"País {country},indicador: {core_indicator}")
                f.write(f"\nPaís {country},indicador: {core_indicator}")
            print(f"Finalizada etapa {i}") if i == 1 else print




display(df_final.head())
df_final.to_csv(f"../Resultados/{nome_base}.csv", index=False)

País USA,indicador: XDC_USD
País USA,indicador: XDC_EUR
Finalizada etapa 1
País USA,indicador: XDC_XDR
País CHN,indicador: XDC_USD
País CHN,indicador: XDC_EUR
Finalizada etapa 1
País CHN,indicador: XDC_XDR
Finalizada etapa 1
País JPN,indicador: XDC_USD
País JPN,indicador: XDC_EUR
Finalizada etapa 1
País JPN,indicador: XDC_XDR
País GBR,indicador: XDC_USD
País GBR,indicador: XDC_EUR
Finalizada etapa 1
País GBR,indicador: XDC_XDR
Finalizada etapa 1
Finalizada etapa 1
País IND,indicador: XDC_USD
País IND,indicador: XDC_EUR
Finalizada etapa 1
País IND,indicador: XDC_XDR
País CAN,indicador: XDC_USD
País CAN,indicador: XDC_EUR
Finalizada etapa 1
País CAN,indicador: XDC_XDR
País AUS,indicador: XDC_USD
País AUS,indicador: XDC_EUR
Finalizada etapa 1
País AUS,indicador: XDC_XDR
País KOR,indicador: XDC_USD
País KOR,indicador: XDC_EUR
Finalizada etapa 1
País KOR,indicador: XDC_XDR
Finalizada etapa 1
Finalizada etapa 1
Finalizada etapa 1
País CHE,indicador: XDC_USD
País CHE,indicador: XDC_EUR
Finalizada etapa 1
País CHE,indicador: XDC_XDR
Finalizada etapa 1
País SWE,indicador: XDC_USD
País SWE,indicador: XDC_EUR
Finalizada etapa 1
País SWE,indicador: XDC_XDR
País DNK,indicador: XDC_USD
País DNK,indicador: XDC_EUR
Finalizada etapa 1
País DNK,indicador: XDC_XDR
Finalizada etapa 1
País POL,indicador: XDC_USD
País POL,indicador: XDC_EUR
Finalizada etapa 1
País POL,indicador: XDC_XDR
Finalizada etapa 1
Finalizada etapa 1
País CZE,indicador: XDC_USD
País CZE,indicador: XDC_EUR
Finalizada etapa 1
País CZE,indicador: XDC_XDR
País HUN,indicador: XDC_USD
País HUN,indicador: XDC_EUR
Finalizada etapa 1
País HUN,indicador: XDC_XDR
País ROU,indicador: XDC_USD
País ROU,indicador: XDC_EUR
Finalizada etapa 1
País ROU,indicador: XDC_XDR
Finalizada etapa 1
País GRC,indicador: XDC_USD
País GRC,indicador: XDC_EUR
Finalizada etapa 1
País GRC,indicador: XDC_XDR
País BRA,indicador: XDC_USD
País BRA,indicador: XDC_EUR
Finalizada etapa 1
País BRA,indicador: XDC_XDR
País MEX,indicador: XDC_USD
País MEX,indicador: XDC_EUR
Finalizada etapa 1
País MEX,indicador: XDC_XDR
País ARG,indicador: XDC_USD
País ARG,indicador: XDC_EUR
Finalizada etapa 1
País ARG,indicador: XDC_XDR
País COL,indicador: XDC_USD
País COL,indicador: XDC_EUR
Finalizada etapa 1
País COL,indicador: XDC_XDR
País CHL,indicador: XDC_USD
País CHL,indicador: XDC_EUR
Finalizada etapa 1
País CHL,indicador: XDC_XDR
País PER,indicador: XDC_USD
País PER,indicador: XDC_EUR
Finalizada etapa 1
País PER,indicador: XDC_XDR
País URY,indicador: XDC_USD
País URY,indicador: XDC_EUR
Finalizada etapa 1
País URY,indicador: XDC_XDR
País TWN,indicador: XDC_USD
País TWN,indicador: XDC_EUR
Finalizada etapa 1
País TWN,indicador: XDC_XDR
País SGP,indicador: XDC_USD
País SGP,indicador: XDC_EUR
Finalizada etapa 1
País SGP,indicador: XDC_XDR
País HKG,indicador: XDC_USD
País HKG,indicador: XDC_EUR
Finalizada etapa 1
País HKG,indicador: XDC_XDR
País THA,indicador: XDC_USD
País THA,indicador: XDC_EUR
Finalizada etapa 1
País THA,indicador: XDC_XDR
País MYS,indicador: XDC_USD
País MYS,indicador: XDC_EUR
Finalizada etapa 1
País MYS,indicador: XDC_XDR
País VNM,indicador: XDC_USD
País VNM,indicador: XDC_EUR
Finalizada etapa 1
País VNM,indicador: XDC_XDR
País IDN,indicador: XDC_USD
País IDN,indicador: XDC_EUR
Finalizada etapa 1
País IDN,indicador: XDC_XDR
País PHL,indicador: XDC_USD
País PHL,indicador: XDC_EUR
Finalizada etapa 1
País PHL,indicador: XDC_XDR
País SAU,indicador: XDC_USD
País SAU,indicador: XDC_EUR
Finalizada etapa 1
País SAU,indicador: XDC_XDR
País ARE,indicador: XDC_USD
País ARE,indicador: XDC_EUR
Finalizada etapa 1
País ARE,indicador: XDC_XDR
País QAT,indicador: XDC_USD
País QAT,indicador: XDC_EUR
Finalizada etapa 1
País QAT,indicador: XDC_XDR
País KWT,indicador: XDC_USD
País KWT,indicador: XDC_EUR
Finalizada etapa 1
País KWT,indicador: XDC_XDR
País IRN,indicador: XDC_USD
País IRN,indicador: XDC_EUR
Finalizada etapa 1
País IRN,indicador: XDC_XDR
País ISR,indicador: XDC_USD
País ISR,indicador: XDC_EUR
Finalizada etapa 1
País ISR,indicador: XDC_XDR
País NOR,indicador: XDC_USD
País NOR,indicador: XDC_EUR
Finalizada etapa 1
País NOR,indicador: XDC_XDR
País RUS,indicador: XDC_USD
País RUS,indicador: XDC_EUR
Finalizada etapa 1
País RUS,indicador: XDC_XDR
País ZAF,indicador: XDC_USD
País ZAF,indicador: XDC_EUR
Finalizada etapa 1
País ZAF,indicador: XDC_XDR
País EGY,indicador: XDC_USD
País EGY,indicador: XDC_EUR
Finalizada etapa 1
País EGY,indicador: XDC_XDR
País NGA,indicador: XDC_USD
País NGA,indicador: XDC_EUR
Finalizada etapa 1
País NGA,indicador: XDC_XDR
País GHA,indicador: XDC_USD
País GHA,indicador: XDC_EUR
Finalizada etapa 1
País GHA,indicador: XDC_XDR
País KEN,indicador: XDC_USD
País KEN,indicador: XDC_EUR
Finalizada etapa 1
País KEN,indicador: XDC_XDR

  COUNTRY INDICATOR TYPE_OF_TRANSFORMATION FREQUENCY TIME_PERIOD  value  index
0     USA   XDC_USD                 EOP_RT         M    2000-M01    1.0    NaN
1     USA   XDC_USD                 EOP_RT         M    2000-M02    1.0    NaN
2     USA   XDC_USD                 EOP_RT         M    2000-M03    1.0    NaN
3     USA   XDC_USD                 EOP_RT         M    2000-M04    1.0    NaN
4     USA   XDC_USD                 EOP_RT         M    2000-M05    1.0    NaN